doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    link(rel="stylesheet", href="/styles/style.css")
  body
    include header.pug
    
    main.container
      section.hero
        h1 Travel Explorer
        p Your Smart Travel Companion for seamless trip planning
        
      section.features
        h2.plantripheading Plan Your Perfect Trip
        .row
          .col
            .card
              .card-header Flight Search
              .card-body
                p Find the best flights to your destination with detailed information on schedules and prices.
                a(href="/flight")
                  button Search Flights
          
          .col
            .card
              .card-header Weather Forecast
              .card-body
                p Get accurate weather predictions for your travel dates to pack accordingly and plan activities.
                a(href="/weather")
                  button Check Weather
          
          .col
            .card
              .card-header Accommodations
              .card-body
                p Discover and compare hotels, motels, and other lodging options with top amenities for your stay.
                a(href="/hotel")
                  button Find Hotels
          
          .col
            .card
              .card-header Destination Gallery
              .card-body
                p Explore high-quality images of your destination to get inspired. Browse hidden gems to visulize your trip.
                a(href="/images")
                  button View Images
                  
    include footer.pug
